---
layout: default
description: "Website sobre as vulnerabilidades na urna eletrônica"
title: Home
---

{% include intro.html %}


<section class="post-list">
  <div class="container">

    <h2>Relatórios</h2>
    <p><a class="post-link" href="https://doi.org/10.13140/RG.2.2.28590.82246" style="font-weight: bold;">Execução de código arbitrário na urna eletrônica brasileira</a></p>
    <p><a class="post-link" href="https://doi.org/10.13140/RG.2.2.16240.97287" style="font-weight: bold;">The Return of Software Vulnerabilities in the Brazilian Voting Machine</a></p>
    <br />

    <h2>Textos</h2>

    {% for post in paginator.posts %}
      <article class="post-item">
        <p><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  — <strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong> — <span> {{ post.content | strip_html | truncatewords: 40 }}</span> <a class="post-link readmore" href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
      </article>
    {% endfor %}
  </div>

  <div class="container">
    {% include pagination.html %}
  </div>
</section>