<section class="intro">
  <div class="container">
    <p class="lead">Nos Testes Públicos de Segurança 2017 (TPS) do TSE, foram encontradas uma série de <strong class="author-name" itemprop="name">vulnerabilidades graves na urna eletrônica brasileira</strong>. Reunimos nesta página material técnico sobre elas. Desde então, houve duas outras edições do evento em que não participamos (<a href="https://www.justicaeleitoral.jus.br/tps/#ano-tps-2019">TPS 2019</a> e <a href="https://www.justicaeleitoral.jus.br/tps/">2021</a>).</p>
  </div>
</section>
