
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}<span>Eletrônica</span></a></h1>
    <ul class="navbar">
      <li><a href="https://github.com/epicleet/tps2017"><span class="svg-icon">{% include icon-github.svg %}</span></a></li>
      <li><a href="{{ '/links' | prepend: site.baseurl }}">Links</a></li>
      <!-- <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">feed</a></li> -->
    </ul>
  </div>
</nav>